<a href="https://colab.research.google.com/github/aradhyasakalley/Car-Price-Prediction/blob/main/CarPricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
car = pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

car.shape

In [ ]:
car.info()

QUALITY ISSUES


1.   Name is inconsistent (Pick only first 3 words )
2.   Price has 'Ask for price'
3.   Price object to int (Remove commas)
4.   kms driven has word kms with int
5.   kms driven object to int 
6.   fuel_type has nan values

Cleaning the dataset

In [ ]:
backup = car.copy()

In [ ]:
car=car[car['Price']!="Ask For Price"]

In [ ]:
car['Price'].str.replace(',','')

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: object

In [ ]:
car=car[car['year'].str.isnumeric()]

In [ ]:
car['year'] = car['year'].astype(int)

In [ ]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [ ]:
car = car[car['kms_driven'].str.isnumeric()]

In [ ]:
car['kms_driven']=car['kms_driven'].astype(int)

In [ ]:
car=car[~car['fuel_type'].isna()]

In [ ]:
car.shape

(816, 6)

In [ ]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [ ]:
car.reset_index(drop=True)

                       name   company  year     Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007    80,000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  4,25,000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  3,25,000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  5,75,000       36000    Diesel
4                 Ford Figo      Ford  2012  1,75,000       41000    Diesel
..                      ...       ...   ...       ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  2,70,000       50000    Petrol
812          Tata Indica V2      Tata  2009  1,10,000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  3,00,000      132000    Petrol
814            Tata Zest XM      Tata  2018  2,60,000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  3,90,000       40000    Diesel

[816 rows x 6 columns]

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    object
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.6+ KB

In [ ]:
car.describe()

              year     kms_driven
count   816.000000     816.000000
mean   2012.444853   46275.531863
std       4.002992   34297.428044
min    1995.000000       0.000000
25%    2010.000000   27000.000000
50%    2013.000000   41000.000000
75%    2015.000000   56818.500000
max    2019.000000  400000.000000

In [ ]:
car.to_csv('CleanedCarData')

## **Model**

In [ ]:
x = car.drop(columns='Price')
y = car['Price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
ohe = OneHotEncoder()

In [ ]:
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [ ]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [ ]:
lr = LinearRegression()

In [ ]:
pipe=make_pipeline(column_trans,lr)

In [ ]:
pipe.fit(x_train,y_train)

ValueError: ignored

In [ ]:
y_pred=pipe.predict(x_test)

In [ ]:
r2_score(y_test,y_pred)